.main {
    padding: 75px 0 200px 0;
}

.main__form {
    width: 95%;
    max-width: 950px;
    margin: 0 auto;
}

.main__basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 58px;
    @media screen and (min-width: 950px) {
        flex-direction: row;
    }
}

.main__basic-info-left-col {
    margin-bottom: 30px;
    @media screen and (min-width: 950px) {
        margin-right: 50px;
        margin-bottom: 0;
    }
}

.main__skills {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 950px) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}

.main__skills-left-col {
    margin-bottom: 22px;
    @media screen and (min-width: 950px) {
        margin-right: 50px;
        margin-bottom: 0;
    }
}

.form__radio-buttons {
    display: flex;
}

.form__submit {
    display: flex;
    justify-content: center;
}
