.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 950px) {
        align-items: flex-start;
    }
}

.form-group_mb_30px {
    margin-bottom: 30px;
}

.form-group_mb_57px {
    margin-bottom: 57px;
}

.form-group_mb_103px {
    margin-bottom: 103px;
}
