.label {
    display: inline-block;
}

.label_primary {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 1.4px;
    color: #4e4e4e;
}

.label_secondary {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.08;
    letter-spacing: normal;
    color: #979797;
}

.label_big {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    color: #4d4d4d;
}

.label_checkbox {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.25;
    letter-spacing: normal;
    color: #4d4d4d;
    margin-left: 27px;
}

.label_mb_22px {
    margin-bottom: 22px;
}

.label_mb_13px {
    margin-bottom: 13px;
}

.label_mb_27px {
    margin-bottom: 27px;
}
