.message-input {
    width: 100%;
    max-width: 450px;
    height: 169px;
}

.message-input_primary {
    outline: none;
    border-radius: 2px;
    border: solid 1px #dcdcdc;
    resize: none;
    padding: 16px;
}
