.substring {
    display: inline-block;
}

.substring_font-family_lucida-grande {
    font-family: "LucidaGrande", sans-serif;
}

.substring_underline_primary {
    line-height: inherit;
    border-bottom: 1px solid #fddc3e;
}
