.text-input {
    width: 100%;
    max-width: 450px;
    height: 51px;
    padding: 0 16px;
}

.text-input_primary {
    outline: none;
    border-radius: 2px;
    border: solid 1px #dcdcdc;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    line-height: 1.64;
    color: #4e4e4e;
}
