@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "Avalon";
    src: url("../fonts/Avalon_Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "LucidaGrande";
    src: url("../fonts/Lucida\ Grande.ttf");
}